body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

header, footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

#navbar {
    background: #555;
    display: flex;
    justify-content: center;
}

#navbar ul {
    list-style: none;
    padding: 0;
}

#navbar ul li {
    display: inline;
    margin: 0 15px;
}

#navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

section {
    padding: 20px;
}

.project {
    background: #1b1414;
    margin: 15px 0;
    padding: 10px;
}

/* This is for when text needs to be selectable*/
.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}


.hover-area {
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
}
  
.preview-content {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
    background-color: #766d6d;
    padding: 10px;
    z-index: 100;
}

.flex-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 10vh; /* Example height */
  }
  

.video-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically, if needed */
    height: 75vh; /* Adjust or remove based on your layout */
  }
  
  video {
    width: 50%; /* Set the video width or a fixed width like 400px */
    max-width: 100%; /* Ensure it's responsive and doesn't overflow its container */
    height: auto; /* Maintain aspect ratio */
  }

  /* Intro screen style */
  .terminal {
    background-color: black;
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20;
    padding: 20px;
    min-height: 100vh;
    white-space: pre-wrap;
    overflow: hidden;
  }
/* Stops scrolling */
body.no-scroll {
    overflow: hidden; 
    height: 100vh; 
    margin: 0; 
}


.intro-screen {
    background-color: #333; 
    color: #fff; 
    text-align: center;
    padding: 50px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    overflow: hidden;
}


/* Styles for larger header */
.intro-screen h1 {
    font-size: 3em; 
    font-weight: bold; 
    margin: 0.5em 0; /* Adjust spacing around the header as needed */
    font-family: 'Arial', sans-serif; 
}

.intro-screen h2 {
    font-size: 2em; 
    font-weight: lighter; 
    margin: 0.25em 0; /* Adjust spacing around the subheader as needed */
    font-family: 'Arial', sans-serif; 
}

  
.page {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
    display: none;
}

.page.active {
    opacity: 1;
    visibility: visible;
    display: block;
}

@keyframes expandBubble {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(10); /* Ensure it covers the screen */
        opacity: 1; /* Fade out at the end to transition to the next page */
    }
}

.bubble-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.bubble {
    flex: 1; /* Each bubble takes up an equal amount of space */
    margin: 0 10px; /* Space between bubbles */
    padding: 20px; /* Padding inside bubbles */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Initial shadow for depth */
    border-radius: 10px; /* Slightly rounded corners for a bubble-like feel */
    background-color: #2b2a2a;
    height: 300px; /* Fixed height for bubbles */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer; /* Indicate the bubbles are clickable */
    overflow: hidden;
    position: relative; /* For positioning content inside */
    z-index: 2; /* Ensure bubbles are above other content */
    transition: opacity 0.5s ease-out;
}



.bubble:hover {
    transform: scale(1.10); /* Slightly enlarge bubble on hover */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); /* Enhanced shadow for focus effect */
    z-index: 3; /* Ensure the hovered bubble is above others */
}

.bubble:not(:hover) {
    transform: scale(1); /* Return to normal size when not hovered */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for size and shadow */
}

.bubble.expanding {
    animation: expandBubble 1.5s forwards; /* Play the expansion animation and keep the final state */
    z-index: 9999; /* Ensure the expanding bubble is above all other content */
}
